a{
 	text-decoration: none;
 	color: black;
 }
  a:hover{
 	text-decoration: none;
 	color: black;
 }
#navItems{
	margin: auto;
}
 /*HOMEPAGE*/
#home .homeWell{
	transition: background-color 0.2s ease-in 0s;
 }
#home .homeWell:hover{
	background-color: rgb(219, 219, 219);
 }
#home .customContainer{
 	padding: 0;
 	overflow-x: hidden;
 }
#home .zoekBtn{
  	margin-top: 15px;
 }

/*ERROR PAGE*/
#error .errorlink{
 	color: #198CFF;
 }
#error .errorlink:hover{
  	color: #198CFF;
 	text-decoration: underline;
 }
#error .errorsmiley{
 	font-family: Tahoma;
 	font-size: 20vh;
 }
#error .errormessage{
 	font-size: 20px;
 }

/*STATION INFO*/
#station-info  .linkerdeel{
 	float: left;
 	padding-left: 3vw;
 	width: 20vw;
 }
#station-info  .rechterdeel{
	height: 100%;
	position: relative;
	padding: 0vw 3vw 0vw 3vw;
	float: left;
	width: calc(79.5vw - 17px);
}
#station-info  #treinen{
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
}
#station-info  .trein{
	margin-bottom: 3vh;
}
#station-info  info{
	font-family: Tahoma;
	display: inline;
	padding: 0;
	margin: 0;
}
#station-info  .treinInfo{
	display: table;
	height: 5vh;
	width: 60vw;
	background-color: rgb(226, 226, 226);
}
#station-info  .infodeel{
	display: table-cell;
	vertical-align: middle;
	width: 40%;
}
#trein-info  .stationdeel{
	display: table-cell;
	vertical-align: middle;
}
#station-info  .pijltje{
	margin: 0px 20px 0px 20px;
}
#station-info  .nummerContainer{
	display: table-cell;
	vertical-align: middle;
	color: white;
	text-align: center;
	width: 7vw;
	height: 5vh;
	box-shadow: inset -2px 0px 0px 0px white;
	font-size: 2vh;
}
#station-info .begin-eind{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 17vw;
	font-size: 1.5vh;
	box-shadow: inset -2px 0px 0px 0px white;
}
#station-info .stationdeel{
	text-align: center;
}

#station-info .tussenhalte{
	display: table-cell;
	vertical-align: middle;
	font-size: 2vh;
	width: 10vw;
}
#station-info .perron{
	display: table-cell;
	vertical-align: middle;
	font-size: 1.6vh;
	width: 10vw;
}
#station-info .aankomstTijd{
	display: table-cell;
	vertical-align: middle;
	font-size: 1.7vh;
	width: 7vw;
}
#station-info .vertrekTijd{
	display: table-cell;
	vertical-align: middle;
	font-size: 1.7vh;
	width: 7vw;
}
#station-info .meerStations{
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
	padding: 0 0.5vw 0 0.5vw;
}
#station-info .meerStationsIMG{
	width: 1vw;
	height: 1vw;
	
	background-image: url('../images/expand.png');
	background-size: 1vw 1vw;
}
#station-info .treinStationsCont{
	display: none;
}
#station-info .treinStations{
	display: table;
	text-align:center;
}
#station-info .treinStation{
	width: 36vw;
	margin: 2px 0px 2px 24vw;
	display: block;
	min-height: 5vh;
	background-color: rgb(226, 226, 226);
}
#station-info #extraTreinenBtn{
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 4vh;
	width: 30vw;
	height: 4vh;
	background-color: rgb(134, 192, 242);
	font-family: Helvetica;
	font-size: 2vh;
	color: white;
	transition: all 0.1s ease-in 0s;
	border-radius: 5px;
	box-shadow: 30px;
	position: relative;
}
#station-info #extraTreinenBtn:hover{
	color: white;
	background-color: rgb(81, 165, 239);
}

/*TREIN INFO*/
#trein-info  .linkerdeel{
 	float: left;
 	padding-left: 3vw;
 	width: 20vw;
 }
#trein-info  .rechterdeel{
	height: 100%;
	position: relative;
	padding: 0vw 3vw 0vw 3vw;
	float: left;
	width: calc(79.5vw - 17px);
}
#trein-info  #treinen{
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
}
#trein-info  .trein{
	margin-bottom: 3vh;
}
#trein-info  info{
	font-family: Tahoma;
	display: inline;
	padding: 0;
	margin: 0;
}
#trein-info  .treinInfo{
	display: table;
	height: 5vh;
	width: 60vw;
	background-color: rgb(226, 226, 226);
}
#trein-info  .infodeel{
	display: table-cell;
	vertical-align: middle;
	width: 40%;
}
#trein-info  .stationdeel{
	display: table-cell;
	vertical-align: middle;
}
#trein-info  .pijltje{
	margin: 0px 20px 0px 20px;
}
#trein-info  .nummerContainer{
	display: table-cell;
	vertical-align: middle;
	color: white;
	text-align: center;
	width: 7vw;
	height: 5vh;
	box-shadow: inset -2px 0px 0px 0px white;
	font-size: 2vh;
}
#trein-info .begin-eind{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 17vw;
	font-size: 1.5vh;
	box-shadow: inset -2px 0px 0px 0px white;
}
#trein-info .stationdeel{
	text-align: center;
}

#trein-info .tussenhalte{
	display: table-cell;
	vertical-align: middle;
	font-size: 2vh;
	width: 10vw;
}
#trein-info .perron{
	display: table-cell;
	vertical-align: middle;
	font-size: 1.6vh;
	width: 10vw;
}
#trein-info .aankomstTijd{
	display: table-cell;
	vertical-align: middle;
	font-size: 1.7vh;
	width: 7vw;
}
#trein-info .vertrekTijd{
	display: table-cell;
	vertical-align: middle;
	font-size: 1.7vh;
	width: 7vw;
}
#trein-info .treinStationsCont{
	display: block;
}
#trein-info .treinStations{
	display: table;
	text-align:center;
}
#trein-info .treinStation{
	width: 36vw;
	margin: 2px 0px 2px 24vw;
	display: block;
	min-height: 5vh;
	background-color: rgb(226, 226, 226);
}
#trein-info #extraTreinenBtn{
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 4vh;
	width: 30vw;
	height: 4vh;
	background-color: rgb(134, 192, 242);
	font-family: Helvetica;
	font-size: 2vh;
	color: white;
	transition: all 0.1s ease-in 0s;
	border-radius: 5px;
	box-shadow: 30px;
	position: relative;
}
#trein-info #extraTreinenBtn:hover{
	color: white;
	background-color: rgb(81, 165, 239);
}

#contact .infoErasmus
{
	float: left;
}
#contact #apiGoogle
{
	float:right;
}
#contact .formCss 
{
	float: left;
}
#contact .ontwikkelaars 
{
	float: right;
}